* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: none;
}

li,
ol,
ul {
    list-style: none;
}

/*header*/

.header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    background: darkgrey;
    border: 1px solid black;
}

.header>a{
    color: black;
    margin-left: 100px;
    border: 1px solid black;
    box-sizing: border-box;
    background:white;
}

/*container*/

.container {
    width: 1903px;
    height: 100%;
}

/*sidebar*/

.sidebar {
    width: 150px;
    height: 100%;
    float: left;
}

.menu {
    border: 1px solid black;
    font-size: 24px;
    background: whitesmoke;
    cursor: pointer;
}

.menu4_4,
.menu5_5 {
    font-size: 20px;
    cursor: pointer;
}

.submenu1,
.submenu2,
.submenu3,
.submenu4{
    border: 1px solid black;
    background: wheat;
    cursor: pointer;
}

/*content*/

.content {
    width: 1753px;
    height: 100%;
    float: left;
}

/*counseling*/

.counseling>li{
    width: 30%;
    height: 600px;
    float: left;
    margin: 0 0 20px 40px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid black;
}

.delete_box{
    width: 14px;
    height: fit-content;
    border: 1px solid black;
    z-index: 2;
    position: relative;
    background:lightslategray;
    float: right;
    text-align: center;
}

.chatting_box{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
    position: relative;
    box-sizing: border-box;
}
 