<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/admin_review_list.css">
    </head>
    
    <body>
        <div id="wrap">

            <!--header start-->
            <div class="header">
                관리자페이지입니다.
            </div>
            <!--header end-->

            <!--container start-->
            <div class="container">
            <!--container end-->

                <!--sidebar start-->
                <div class="sidebar">
                    <div class="menu menu1">
                        교육과정
                    </div>
                    <div class="menu1_1">
                        <div>추가</div>   <!--보이기설정 넣기-->
                        <div>수정/삭제</div>
                    </div>

                    <div class="menu menu2">
                        해쉬태그   <!--팝업창 띄우기-->
                    </div>
                    <div class="menu2_2">
                        <div>추가</div>
                        <div>수정/삭제</div>
                    </div>

                    <div class="menu menu3">
                        취업자인터뷰
                    </div>
                    <div class="menu3_3">
                        <div>추가</div>   <!--보이기설정 넣기-->
                        <div>수정/삭제</div>
                    </div>

                    <div class="menu menu4">
                        알림 및 질문
                    </div>
                    <div class="menu4_4">
                        <div class="submenu1">
                            공지사항                            
                        </div>
                        <div class="submenu1_1">
                            <div>추가</div>
                            <div>수정/삭제</div>
                        </div>
                        <div class="submenu2">
                            FAQ
                        </div>
                        <div class="submenu2_2">
                            <div>추가</div>
                            <div>수정/삭제</div>
                        </div>
                    </div>

                    <div class="menu menu5">
                        지원서
                    </div>
                    <div class="menu5_5">
                        <div class="submenu3">
                            지원하기                            
                        </div>
                        <div class="submenu3_3">
                            <div>조회</div>
                            <div>삭제</div>
                        </div>
                        <div class="submenu4">
                            수강후기
                        </div>
                        <div class="submenu4_4">
                            <div>삭제</div>
                        </div>
                    </div>

                    <div class="menu menu6">
                        회원관리
                    </div>
                    <div class="menu6_6">
                        <div>회원조회</div>   <!--커리큘럼에 따라서 정렬하기-->
                        <div>회원삭제</div> 
                    </div>

                    <div class="menu menu7">1:1 상담기능   <!--각 div마다 삭제버튼이 존재해야함-->
                    </div>
                </div>
                <!--sidebar end-->

        <!--curriculum_list start-->
        <div id="listLayer">
            <div id="listPage">
                <h2>수강후기 목록</h2>
                <div id="searchBox">
                    <ul>
                        <li>
                            <span>검색종류</span>
                            <select>
                                <option value="">선택</option>
                                <option value="1">번호</option>
                                <option value="2">아이디</option>
                                <option value="3">이메일</option>
                                <option value="4">이름</option>
                                <option value="5">가입일</option>
                                <option value="6">회원종류</option>
                                <option value="7">교육과정</option>
                            </select>
                        </li>
                        <li>
                            <input type="text">
                        </li>                         
                        <button type="submit">검색</button>
                    </ul>
                </div>

                <div id="listBox">
                    <table>
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>등록일</th>
                                <th>작성자</th>
                                <th>교육과정</th>
                                <th>조회수</th>
                                <th>권한</th>
                                <th>삭제</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    안녕하세요
                                </td>
                                <td>
                                    2021.06.21
                                </td>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    블록체인
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    <button type="button">권한</button>
                                </td>
                                <td>
                                    <button type="button">삭제</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    안녕하세요
                                </td>
                                <td>
                                    2021.06.21
                                </td>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    블록체인
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    <button type="button">권한</button>
                                </td>
                                <td>
                                    <button type="button">삭제</button>
                                </td>
                            </tr><tr>
                                <td>
                                    3
                                </td>
                                <td>
                                    안녕하세요
                                </td>
                                <td>
                                    2021.06.21
                                </td>
                                <td>
                                    홍길동
                                </td>
                                <td>
                                    블록체인
                                </td>
                                <td>
                                    123
                                </td>
                                <td>
                                    <button type="button">권한</button>
                                </td>
                                <td>
                                    <button type="button">삭제</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="pageBtn">
                    <button type="button"><</button>
                    <button type="button">1</button>
                    <button type="button">2</button>
                    <button type="button">3</button>
                    <button type="button">4</button>
                    <button type="button">5</button>
                    <button type="button">6</button>
                    <button type="button">7</button>
                    <button type="button">8</button>
                    <button type="button">9</button>
                    <button type="button">10</button>
                    <button type="button">></button>
                </div>
            </div>
        </div>
        <!--curriculum_list end-->
    </div>    
</div>
</body>
</html>