<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/join_complete.css">
    <title>apply_complete</title>
</head>
<body>
    <div id="wrap">

        {% include "./layout/top.html" %}

        <!--container start-->
        <div class="container">
            <input type="checkbox" id="menu2">
                <label for="menu2"> 
                    <span></span>
                    <span></span>
                </label>
            <h1>지원 신청이 정상적으로 완료 되었습니다.</h1>
            <h1>지원해주셔서 감사합니다.</h1>
            <div class="bottom_box">
                <ul class="box_li">
                    <a href="http://localhost:3000/"><li>메인으로</li></a>
                </ul>
            </div>
        </div>
        <!--container end-->

        {% include "./layout/footer.html" %}

    </div>
</body>
{% include "./layout/bottom.html" %}