<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.min.js"></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.4/pagination.css"/>
        <link rel="stylesheet" href="/css/interview.css">
    </head>
    <body>
        <div id="wrap">

            {% include "./layout/top.html" %}

            <!--container start-->
            <div class="container">
                <h1>Employed Interview</h1>
                <div>
                    <section>
                        <div class="li_container">
                            <div id="data-container" class="table_type"></div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="pagebox">
                <div id="pagination"></div>
            </div>
            <!--container end-->

            {% include "./layout/footer.html" %}

        </div>
    </body>
    <script src="/interview.js"></script>
    {% include "./layout/bottom.html" %}