<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/join_complete.css">
    <title>join_complete</title>
</head>
<body>
    <div id="wrap">

        <!--header start-->
        <div class="header">
            <div class="logo">
                <a href="###"><img src="../images/logo.jpg"></a>
            </div>
            <div class="header_menu">
                <a href="###" class="menubtn">학원소개</a>
                <a href="###" class="menubtn">교육과정</a>
                <a href="###" class="menubtn">취업자인터뷰</a>
                <a href="###" class="menubtn">지원 및 질문</a>
                <a href="###" class="menubtn">알림</a>
                <a href="###" class="menubtn">로그인</a>
                <a href="###" class="menubtn">회원가입</a>
            </div>
            <div id="bush" class="hide_menu">
                <div class="hide_menu1">
                    <li>
                        <a href="###" class="menubtn">공지사항</a>
                    </li>
                    <li>
                        <a href="###" class="menubtn">수강후기</a>
                    </li>
                </div>
                <div class="hide_menu2">
                    <li>
                        <a href="###" class="menubtn">지원하기</a>
                    </li>
                    <li>
                        <a href="###" class="menubtn">FAQ</a>
                    </li>
                </div>
            </div>
        </div>
        <!--header end-->

        <!--container start-->
        <div class="container">
            <input type="checkbox" id="menu2">
                <label for="menu2"> 
                    <span></span>
                    <span></span>
                </label>
            <h1>{{username}}님의 회원가입을 진심으로 축하드립니다.</h1>
            <h1>가입하신 아이디는 {{userid}}입니다.</h1>
            <div class="bottom_box">
                <ul class="box_li">
                    <a href="http://localhost:3000/apply"><li>메인으로</li></a>
                </ul>
            </div>   
        </div>
        <!--container end-->

        <!--footer start-->
        <div class="footer">
            <ul class="footer_menu">
                <li class="string_bold">42 SEOUL</li>
                <li class="string_bold">Innovation Acamemy</li>
            </ul>
            <ul class="footer_menu">
                <li class="string_bold">CONTACT</li>
                <li>qna@innovationacademy.kr</li>
            </ul>
            <ul class="footer_menu">
                <li class="string_bold">LOCATION</li>
                <li>416, Gaepo-ro, Gangnam-gu,</li>
                <li>Seoul, Republic of Korea</li>
            </ul>
            <div class="footer_menu">
                <img src="../images/img1.svg">
                <img src="../images/img2.svg">
                <img src="../images/img3.svg">
            </div>
        </div>
        <!--footer end-->

    </div>
</body>
{% include "./layout/bottom.html" %}