* {
    margin: 0;
    padding: 0;
    user-select: none;
}
div{
    display: block;
}
li, ol, ul {
    list-style: none;
}
a{
    text-decoration:none;
    box-sizing: inherit;
}
table, thead, tbody, tr, th, td{
    box-sizing: border-box;
}

/* header */
.header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    background: darkgrey;
}

/* container */
.container {
    width: 1903px;
    height: 100%;
}

/* sidebar */
.sidebar {
    width: 150px;
    height: 100%;
    float: left;

}

.menu {
    border: 1px solid black;
    font-size: 24px;
    background: whitesmoke;
    margin-top: 50px;
}

.menu1_1,
.menu2_2,
.menu3_3,
.menu4_4,
.menu5_5,
.menu6_6,
.menu7_7 {
    display: block;
    font-size: 20px;
}

.submenu1,
.submenu2,
.submenu3,
.submenu4{
    border: 1px solid black;
    background: wheat
}

/* listLayer */
#listLayer {
    width: 1750px;
    margin-top: 50px;
    float: left;
}
#listLayer > #listPage{
    padding: 20px 50px;
}
#listLayer > #listPage > h2{
    padding: 20px 30px;
    background: steelblue;
    border-radius: 5px;
}

/* listLayer > searchBox */
#listLayer > #listPage > #searchBox{
    height: 70px;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #777;
}
#listLayer > #listPage > #searchBox > ul > form > li{
    padding-right: 30px;
    float: left;
}
#listLayer > #listPage > #searchBox > ul > form > li > input{
    margin: 0px 5px;
    float: left;
}
#listLayer > #listPage > #searchBox > ul > form > li > span{
    float: left;
    font-size: 14px;
    line-height: 20px;
}
#listLayer > #listPage > #searchBox > ul > form > li > select{
    margin-left: 3px;
    float: left;
}
#listLayer > #listPage > #searchBox > ul > button{
    padding: 0px 5px;
}
#listLayer > #listPage > #searchBox > #btnGroup_right{
    width: 100%;
    margin-top: 20px;
    float: right;
}
#listLayer > #listPage > #searchBox > #btnGroup_right > span{
    margin-left: 5px;
    font-size: 14px;
}
#listLayer > #listPage > #searchBox > #btnGroup_right > button{
    margin-left: 20px;
    padding: 0px 20px;
}

/* listLyaer > listBox */
#listLayer > #listPage > #listBox{
    width: 100%;
    margin-top: 20px;
}
#listLayer > #listPage > #listBox > form > table{
    width: 100%;
    text-align: center;
    border-top: 3px solid cornflowerblue;
    border-bottom: 3px solid cornflowerblue;
}
#listLayer > #listPage > #listBox > form > table > thead{
    background: blanchedalmond;
}
#listLayer > #listPage > #listBox > form > table > thead > tr > th{
    border-bottom: 1px solid #999;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td{
    padding: 20px 20px;
    font-size: 15px;
    border-bottom: 1px solid #999;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr:last-child > td{
    border: none;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td:nth-child(2){
    text-align: left;
    cursor: pointer;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td > input{
    margin-right: 5px;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td > span{
    color: lightseagreen;
    font-weight: bold;
}
#listLayer > #listPage > #listBox > form > table > tbody > tr > td > button{
    padding: 0px 5px;
}

/* listLyaer > pageBtn */
#listLayer > #listPage > #pageBtn{
    margin-top: 50px;
    text-align: center;
}
#listLayer > #listPage > #pageBtn > button{
    width: 20px;
    height: 20px;
    font-size: 12px;
    font-weight: bold;
    line-height: 18px;
    color: #000;
    border: 1px solid #c7c7c7;
    cursor: pointer;
}
#listLayer > #listPage > #pageBtn > button:hover{
    border: 1px solid dodgerblue;
    color: dodgerblue;
    transition: 0.5s;
}