<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="/css/masterpage.css">
    </head>
    
    <body>
        <div id="wrap">

            <!--header start-->
            <div class="header">
                관리자페이지입니다.
            <a href="/logincheck">로그인</a>
            </div>
            <!--header end-->

            <!--container start-->
            <div class="container">
            <!--container end-->

                <!--sidebar start-->
                <div class="sidebar">
                    <div class="menu menu1">
                        교육과정
                    </div>
                    <div class="menu menu2">
                        해쉬태그   <!--팝업창 띄우기-->
                    </div>
                    
                    <div class="menu menu3">
                        취업자인터뷰
                    </div>
                    
                    <div class="menu menu4">
                        알림 및 질문
                    </div>
                    <div class="menu4_4">
                        <div class="submenu1">
                            공지사항                            
                        </div>
                        <div class="submenu2">
                            FAQ
                        </div>
                    </div>

                    <div class="menu menu5">
                        지원서
                    </div>
                    <div class="menu5_5">
                        <div class="submenu3">
                            지원하기                            
                        </div>
                        <div class="submenu4">
                            수강후기
                        </div>
                    </div>

                    <div class="menu menu6">
                        회원관리
                    </div>
                    
                    <div class="menu menu7">
                        1:1 상담기능   <!--각 div마다 삭제버튼이 존재해야함-->
                    </div>
                </div>
                <!--sidebar end-->

        <!--content start-->
        <div class="content">